$component: 'article-list';

.article-list-group {
}

.article-category-pill {
  display: inline-block;
  font-size: 0.65rem;
  border-radius: 3px;
  padding-top: .1rem;
  &:not(:last-child) {
    margin-right: 0.25rem;
  }
  a {
    padding: 0.2rem 0.4rem;
    cursor: pointer;
  }
}


.article-list {

  .#{$component}-total-count {
    .count {
      font-size: 1.1em;
      font-weight: bolder;
    }
  }

  &.list-type-with_picture {

    .article {
      margin-bottom: 1rem;
      .feature-image {
        display: block;
        padding-bottom: 66%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .entry {
        overflow: hidden;
        border-radius: .2em;
        .no-image {
        }
        &:hover {
          transform: scale(1.04);
          box-shadow: 0px 5px 4px rgba(0,0,0, .22);
        }
        a {
          text-decoration: none;
        }
      }

      .article-list-column-caption {
        display: block;
        padding: .6em;
        .upper {
          position: relative;
          .badge {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        .data.title {
          padding: 0.4em 0;
        }
        .data.category {
          min-height: 18px;
        }

      }

      .data {
        &.date {
          font-size: .8em;
        }
        &.title {
          margin: .2em 0;
          word-break: break-word;
          a {
            display: inline-block;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            box-sizing: content-box;
            width: 100%;
            overflow: hidden;
            font-size: 1.1rem;
            height: 3.5rem;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .article-category-pill-box {
      text-align: right;
      margin-bottom: .25rem;
    }

  }

  &.list-type-simple_row {
    margin: 0;
    margin-top: 1.2em;

    .article-list-group-content-box {
      display: flex;
      flex-direction: column;
      align-self: stretch;
      .article-category-pill-box {
        text-align: right;
        margin-top: auto;
      }
    }

    .article-list-group-caption {
      display: none;
    }

    .feature-image {
      display: block;
      padding-bottom: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }


    .article {
      margin-bottom: 0;
      border-bottom-width: 0;
      &:last-child {
        border-bottom-width: 1px;
      }
    }
  }

  &.list-type-minimum {
    .post-datetime {
      &:after {
        content: '|';
        margin: 0 .75rem;
      }
    }
  }

}

