
.article-list-group {
}

.article-list {

  &.list-type-with_picture {

    .article {
      margin-bottom: 1rem;
      .feature-image {
        display: block;
        padding-bottom: 66%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .entry {
        overflow: hidden;
        border-radius: .2em;
        .no-image {
        }
        &:hover {
          transform: scale(1.04);
          box-shadow: 0px 5px 4px rgba(0,0,0, .22);
        }
        a {
          text-decoration: none;
        }
      }

      .article-list-column-caption {
        display: block;
        padding: .6em;
      }

      .data {
        &.date {
          font-size: .8em;
        }
        &.title {
          font-size: 1.1em;
          margin: .2em 0;
          word-break: no-break;
          a {
            width: 100%;
            text-overflow: ellipsis;
            display: inline-block;
            overflow: hidden;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

  }

  &.list-type-simple_row {
    margin: 0;
    margin-top: 1.2em;

    .article-list-group-caption {
      display: none;
    }

    .article {
      margin-bottom: 0;
      border-bottom-width: 0;
      &:last-child {
        border-bottom-width: 1px;
      }
    }
  }

}

