body, html {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  height: auto;
  width: 100%;
  cursor: default;
}

#wpadminbar {
  top: auto;
  bottom: 0;
}

.grecaptcha-badge {
  visibility: hidden;
}

.invisible-onload {
  transition: all 0.4s;
  opacity: 0;
  &.loaded {
    opacity: 1;
  }
}

html { margin-top: 0px !important; }
	* html body { margin-top: 0px !important; }
	@media screen and ( max-width: 782px ) {
		html { margin-top: 0px !important; }
		* html body { margin-top: 0px !important; }
	}

body {
  &.home {
    .article-list-group {
      @media (min-width: 576px) and (max-width: 767.98px){
        .article:last-of-type:nth-child(2n-1):not(nth-child(1)) {
          display: none;
        }
      }
    }
  }
}

//-------------------------------------------------- common

@include respond-above(sm) {
  .image-fill-ratio {
    padding-bottom: 45%;
  }
}

@include respond-below(sm) {
  .image-fill-ratio {
    padding-bottom: 75%;
  }
}


img {
  width: 100%;
  height: auto;
}

.d-flex {
  .center {
    align-self: center;
  }
  .align-right {
    margin-left: auto;
  }
}

.section {
  position: relative;
  padding: 1.25rem 1.25rem 0;
  border-radius: .125em;
  backdrop-filter: blur(.25rem);
  overflow: hidden;
  &.append {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &.prepend {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &.spacing {
    margin-bottom: 30px;
  }
  &.closing {
    padding-bottom: .95rem;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

.inline-block-wrapper {
  font-size: 0 !important;
}


//-------------------------------------------------- base layout
#container {
  display: block; 
  flex-direction:column; 
  position: relative;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  z-index: 10;
}
#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  position: relative;
  padding-bottom: 80px;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-attachment: initial;
    z-index: 0;
  }
  &:after {
    content: '';
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index: -1;
  }
}
#inner {
  padding-top: 1rem;
  margin-top: 116px;
  z-index: 1;
  width: 98vw;
}

.inner-content {
  width: 100%;
  margin: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: calc(max(4vw, 1rem));
  padding-right: calc(max(4vw, 1rem));
  z-index: 1;

  &.comfortable {
    min-height: 60vh;
  }
}


#header {
  z-index: 100;
  transition: ease all .4s;
  & * {transition: ease all .4s;}

  .navbar-brand {
    margin-top: .5rem;
    margin-bottom: .5rem;
    img {
      width: auto;
    }
  }

  &:not(.humble) {
    .navbar-brand {
      img {
      }
    }
  }

  &.humble {
    backdrop-filter: blur(.25rem);
    .navbar-brand {
      margin-top: .25rem;
      margin-bottom: .25rem;
      img {
        height: 40px;
      }
    }
  }

  .navbar {
    min-height: 3.5rem;
  }

  .site-nav-link-container {
    border-radius: 0;
    display: block;
    overflow: hidden;
    padding: 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    text-align: left;
    border: 0;

    .site-nav-link {
      display: block;
      width: 100%;
      clear: both;
      padding: .5rem;
      font-weight: 400;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
    }
  }

  .navbar-nav > li > a > .site-nav-interactive {
    position:relative;

    &.active {
      &:before {
        transform: scale(1);
      }
    }
    &:hover {
      &:before {
        transform: scale(1);
      }
    }

    &:before {
      content: "";
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: .3s transform ease;
      -o-transition: .3s transform ease;
      transition: .3s transform ease;
      background: #fff;
    }
  }

  .navbar {
    padding: 0;
  }

  .navbar-brand {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-left: .5rem;
  }

  .navbar-toggle {
    margin-right: .5rem;
  }

  .site-nav-inner {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-brand {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .site-nav-sub-link {
    color: var(--main-bg-color);
    &:focus, &:hover {
      animation: blinker 1s linear infinite;
      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
    }
  }

  .desktop-only {
    .site-nav-menu {
      position: absolute;
      top: 0;
      right: .75rem;
      bottom: 0;
    }

    .nav-item {
      margin-right: .75rem;
    }

    .navbar-nav {
      height: 100%;
      align-self: center;

      li {
        display: flex;
        height: 100%;
        align-self: center;
      }
    }

    .site-nav-menu {
      position: absolute;
      right: 15px;
      top: 0;
      bottom: 0;
    }

    .site-nav-link-container {
      position: absolute;
      top: 100%;
      left: 0;
      float: left;
    }

  }

  .mobile-only {
    .navbar-nav {
      li {
        padding: .75rem 1.25rem;
      }
    }
    
  }

}


#footer {
  position: relative;
  z-index: 100;
  margin-top:auto; 
  padding: 2em 1em 2rem;
  width: 100%;
  .caption {
    font-size: 1.1em;
  }
  .site-title {
    display: inline-block;
    font-size: 1.6em;
    font-weight: bold;
  }
  .copyright {
    font-size: .8em;
    opacity: .75;
  }
}

//-------------------------------------------------- component
.navbar-toggler { border: none; background: transparent !important;
  &:focus { outline: none; background: transparent !important; }
  &:hover>.icon-bar:nth-child(2) { width: 22px; transition: ease all .2s; }
  &:active>.icon-bar:nth-child(2) { width: 22px; transition: ease all .2s; } 
  .icon-bar {
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
    display: block; width: 22px; height: 2px; border-radius: 1px;
  }
  .icon-bar+.icon-bar { margin-top: 4px; } 
  .icon-bar:nth-child(2) { width: 16px; transition: ease all .2s; } 
  &:not(.collapsed) .icon-bar:nth-child(1) { transform: rotate(45deg) translate(5px, 4px); transition: ease all .2s; }
  &:not(.collapsed) .icon-bar:nth-child(2) { opacity: 0; transition: ease all .2s; }
  &:not(.collapsed) .icon-bar:nth-child(3) { transform: rotate(-45deg) translate(4px, -4px); transition: ease all .2s; }
} 


.button-group-sharing > * {
  vertical-align: top !important;
}

.article-list-group {
  .article-list-total-count {
    margin-bottom: 1.4em;
  }
}
