.structure-navigation {
    padding-bottom: .95rem;
    li {
        display: flex;
        align-items: center;
        &:not(:last-child):after {
            content: " ▷ ";
            color: #aaa;
            font-size: .8em;
            margin: 0 .8em;
        }
    }
    * { vertical-align: middle; }
}