// Basis ----------------------------
// DO NOT apply transition to svg related elements.
// Most of browsers fail to draw colors in `use` tag.
html {
  background: #efefef;
}

a {
  color: #3f3f3f;
  &:hover {
    color: #555555;
  }
}

.section {
  background-color: #ffffff !important;
}

.invisible-onload {
  transition: all 0.4s;
  opacity: 0;
  &.loaded {
    opacity: 1;
  }
}

.btn-default {
  background-color: #ffffff;
  &:hover {
    background-color: #efefef;
  }
}

.search-box {
  .btn-default {
    border: 1px solid #ced4da;
  }
}

.rack-board {
  display: flex;
  & > * {
    align-self: center;
  }
  & > span {
    padding-top: 0.01em;
  }
}

#header {
  .navbar-brand {
  }
  .navbar {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.24);
  }
}

.link {
  color: #3f3f3f;
  &:hover {
    color: #555555;
  }
}

.animatable {
  transition: all 0.25s;
}

.touchable {
  transition: all 0.25s;
  opacity: 0.75;
  &:hover {
    opacity: 1;
  }
  &:active {
    opacity: 1;
  }
}

.attractive {
  &:hover {
    transform: scale(1.14);
  }
}

.arrow {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 300 200"> <use xlink:href="#circle"></use> </svg>');
  background-repeat: no-repeat;
  background-size: cover;
}
@each $r in 0, 90, 180, 270 {
  .arrow-#{$r}deg {
    transform: rotate(#{$r}deg);
  }
}

.article-list-group {
 .article-list {
    .badge-new {
      color: #ffffff;
      border: 1px solid rgba(255, 255, 255, 0.4);
      background-color: #ce6f3a;
    }
  }
  .article-list-column-caption {
    color: #333;
  }
}

.comment-list-area {
  margin-bottom: 1.8em;
}

.comment-list {
  padding: 0;

  & > .comment {
    border-bottom: 1px solid #efefef;
  }
  .children {
    border-top: 1px dashed #dfdfdf;
  }

  list-style: none;
  ol {
    list-style: none;
  }

  .comment-body {
    padding-top: 1em;
    padding-bottom: 1em;

    .comment-author {
      img {
        width: 25%;
        max-width: 60px;
        float: left;
        margin-right: 1.2em;
        border-radius: 0.3em;
      }
      .fn {
        font-size: 1.1em;
      }
      .says {
        display: none;
      }
    }

    .comment-meta {
      a {
        color: #aaa;
        font-size: 0.9em;
      }
    }

    & > p {
      clear: both;
      padding-top: 1.4em;
    }
  }
}

.comment-form-comment {
  textarea {
    width: 100%;
    border-radius: 0.3em;
    border: 1px solid #ddd;
    padding: 0.4em 0.6em;
  }
}

.related-categories {
  list-style: none;
  padding: 0.4em;
  margin-bottom: 0;
  li {
    a {
      padding: 0.4em 0.6em;
      border: 1px solid #ccc;
    }
  }
}

.gototop {
  padding: 0.4em 0.6em;
  margin-top: 2em;
  display: inline-block;
  &:hover {
    opacity: 1;
    cursor: pointer;
    text-decoration: none;
  }
}
