
$font-color-reverse: #ffffff;
$category_color_news: #3EC3D8;
$category_color_information: #F9A741;
$category_color_blog: #27B355;

* {
  transition: all .15s;
}

@mixin category_color($color){
  #container {
    background-color: lighten($color, 4%);
  }
  #footer {
    background-color: darken($color, 12%);
  }
}

@mixin article_list_group_caption_outer($c) {
  color: $c;
  line-height: 1.6em;
  letter-spacing: .1em;
}


.section {
  background-color: #ffffff !important;
  padding: .8em;
  border-radius: .2em;
}


#header {

  .category-news a {
    font-size: 1.2em;
    color: $category_color_news;
  }

  .category-information a {
    font-size: 1.2em;
    color: $category_color_information;
  }

  .category-blog a {
    font-size: 1.2em;
    color: $category_color_blog;
  }

}

.article-list-group-caption-wrap {
  overflow: hidden;
  position: relative;
  margin-top: 1.8em;
  .article-list-group-caption {
    margin: 0;
  }
  .link-read-more {
    position: absolute;
    right: 0;
    bottom: .4em;
  }
}

.article-list-group-caption {
  margin-bottom: .8em;
  @include article_list_group_caption_outer(#ffffff);
}

.link-read-more {
  vertical-align: bottom;
  text-align: right;
}

.category-news {
  .article-list-group-caption {
    @include article_list_group_caption_outer($category_color_news);
  }
  .link-read-more {
    color: $category_color_news;
  }
}
.category-information {
  .article-list-group-caption {
    @include article_list_group_caption_outer($category_color_information);
  }
  .link-read-more {
    color: $category_color_information;
  }
}
.category-blog {
  .article-list-group-caption {
    @include article_list_group_caption_outer($category_color_blog);
  }
  .link-read-more {
    color: $category_color_blog;
  }
}



body {
  &.home {
    .article-list-group {
      @media (min-width: 768px) and (max-width: 992px){
        .article:last-of-type:nth-child(2n-1) {
          display: none;
        }
      }
    }
  }

  &.single-post {
    &.category-news, &.category-information, &.category-blog {
      .post-content {
        padding: 1em;
        background-color: #ffffff;
      }
      .comment-list-area {
        margin-top: 1.8em;
        padding: 1em;
        background: #ffffff;
      }
    }
    &.category-news {
      @include category_color($category_color_news);
    }
    &.category-information {
      @include category_color($category_color_information);
    }
    &.category-blog {
      @include category_color($category_color_blog);
    }

    .article {
      &.category-news {
        .article-list-column-caption {
          background-color: darken($category_color_news, 8%);
        }
      }
      &.category-information {
        .article-list-column-caption {
          background-color: darken($category_color_information, 8%);
        }
      }
      &.category-blog {
        .article-list-column-caption {
          background-color: darken($category_color_blog, 8%);
        }
      }

    }

  }
}

#header {
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0,0,0,.2);
}

#footer {
  background-color: #bbb;
  color: $font-color-reverse;

  .caption {
    font-size: 1.1em;
  }

  a {
    color: #ffffff;
  }

}

.article-list-group {

  .article-list-total-count {
    margin-bottom: 1.4em;
    .count {
      font-size: 1.1em;
      font-weight: bolder;
    }
  }

  .article-list {
    .article-list-column-caption {
      color: #333;
      background-color: #ffffff;
      a {
        color: #555555;
      }
      .upper {
        position: relative;
        .badge {
          position: absolute;
          top: 0;
          right: 0;
        }
        .badge-new {
          background-color: #ce6f3a;
          border: 1px solid #edd;
        }
      }
      .data.title{
        padding: .4em 0;
      }
      .data.category {
        min-height: 18px;
      }
      .article-category-pill {
        font-size: .8em;
        background-color: #888;
        border: 1px solid #777;
        border-radius: .2em;
        color: #fff;
        margin-right: .6em;
        display: inline-block;
        &:hover {
          background-color: #999;
        }
        a {
          padding: .2em .4em;
          cursor: pointer;
          color: #ffffff;
        }
      }
    }
  }

  .article {
    &.category-news {
      .article-list-column-caption {
        color: #fff;
        a { color: #ffffff; }
        background-color: $category_color_news;
      }
    }

    &.category-information {
      .article-list-column-caption {
        color: #fff;
        a { color: #ffffff; }
        background-color: $category_color_information;
      }
    }

    &.category-blog {
      .article-list-column-caption {
        color: #fff;
        a { color: #ffffff; }
        background-color: $category_color_blog;
      }
    }

  }
}


.comment-list-area {
  margin-bottom: 1.8em;
}

.comment-list {

  padding: 0;

  &>.comment {
    border-bottom: 1px solid #efefef;
  }

  .children {
    border-top: 1px dashed #dfdfdf;
  }

  list-style: none;
  ol {list-style: none;}

  .comment-body {

    padding-top: 1em;
    padding-bottom: 1em;

    .comment-author {
      img {
        width: 25%;
        max-width: 60px;
        float: left;
        margin-right: 1.2em;
        border-radius: .3em;
      }
      .fn {
        font-size: 1.1em;
      }
      .says {
        display: none;
      }
    }

    .comment-meta {
      a {
        color: #aaa;
        font-size: .9em;
      }
    }

    &>p {
      clear: both;
      padding-top: 1.4em;
    }
  }

}

.comment-form-comment {
  textarea {
    width: 100%;
    border-radius: .3em;
    border: 1px solid #ddd;
    padding: .4em .6em;
  }
}

.related-categories {
  list-style: none;
  padding: .4em;
  margin-bottom: 0;
  li {
    a {
      padding: .4em .6em;
      border: 1px solid #ccc;
    }
  }
}

.gototop {
  color: #555;
  padding: .4em .6em;
  margin-top: 2em;
  display: inline-block;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
